.bar::after,
.bar::before {
  content: '';
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 0;
  background: #324493;
  transition: 0.2s ease all;
}

.input {
  &:focus,
  &:valid {
    ~ .bar {
      &::after,
      &::before {
        width: 50%
      }
    }

    ~ label .char {
      transform: translateY(-1.25rem);
      font-size: 0.875rem;
      color: #324493;
    }
  }
}

.error {
  .bar::after,
  .bar::before {
    background: rgb(239 68 68);
  }
}
