$default-shadow: 0 4px 14px rgb(0 0 0 / 20%);
$default-hover-shadow: 0 6px 20px rgb(93 93 93 / 33%);
$primary-shadow: 0 4px 14px rgb(50 68 147 / 39%);
$primary-hover-shadow: 0 6px 20px rgb(50 68 147 / 52%);
$danger-shadow: 0 4px 10px rgb(239 68 68 / 20%);
$danger-hover-shadow: 0 6px 10px rgb(239 68 68 / 30%);

.default {
  background-color: #fff;
  color: #696969;
  box-shadow: $default-shadow;

  &:active {
    background-color: rgba(255,255,255,.9);
    box-shadow: $default-hover-shadow;
  }

  &.danger {
    color: #ef4444;
    box-shadow: $danger-shadow;
  }
}

.primary {
  background-color: #324493;
  color: #fff;
  box-shadow: $primary-shadow;

  &:active {
    box-shadow: $primary-hover-shadow;
  }

  &.danger {
    background-color: #ef4444;
    box-shadow: $danger-shadow;
  }
}

.danger:active {
  box-shadow: $danger-hover-shadow;
}

.block {
  display: block;
}

@media (min-width: 768px) {
  .default:hover {
    background-color: rgba(255,255,255,.9);
    box-shadow: $default-hover-shadow;
  }

  .primary:hover {
    box-shadow: $primary-hover-shadow;
  }

  .danger:hover {
    box-shadow: $danger-hover-shadow;
  }
}